@font-face {
    font-family: 'Poppins';
    src: url(./assets/Poppins-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';

    --fg-color: #90CAF9;
    --fg-sec-color: #E3F2FD;
    --bg-color: #e3f2fd;
}

#add-book {
    position: absolute;
    height: 4rem;
    z-index: 2;

    fill: #2088e5;
    left: 94vw;
    top: 86vh;
}

.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--fg-color);
}

h6 {
    color: white;
    font-size: 3rem;
}

.library {
    height: 85vh;
    width: 100vw;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-auto-rows: 30vh;
    justify-content: center;

    background-color: var(--bg-color);
}

div[class^="card"] {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-width: max(16%, 12rem);
    min-height: max(10%, 12rem);
    border-radius: .5rem;
    padding: 2rem;
    margin: 1rem;
    z-index: 0;
    box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1), 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1);
}

div[class^="card"]:hover {
    z-index: 1;
}

img[id^='remove-btn'] {
    height: 1.5rem;
    position: relative;
    left: 98%;
    bottom: 10%;
    z-index: 0;
}

button[class^="status-btn"] {
    height: 20%;
    width: 50%;

    background-color: #4bd3d5;
    margin-top: auto;
    align-self: center;

    border: 0;
    border-radius: .5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.footer {
    height: 5vh;
    width: 100vw;

    background-color: var(--fg-sec-color);
}

dialog {
    position: absolute;
    margin: auto;

    border: solid black 1px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


dialog form {
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

dialog form>div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;

    margin-top: 1rem;
}

dialog form span {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;
}

#add-button {
    height: 2rem;
    width: 4rem;

    border: 0;
    border-radius: 1rem;
    align-self: center;
    margin-top: 1rem;
    background-color: var(--fg-color);
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
}

::backdrop {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}